@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
.text-primary {
  color: #28a745;
}
.text-secondary {
  color: #0284d0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary {
  background-color: #28a745;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: 0.5s ease-in;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 8px;
}
.navbar ul li a:hover {
  border-bottom: 2px solid #28a745;
}
.navbar .logo {
  font-weight: 400;
}
#slikaImg {
  background: no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
}
#slikaImg .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
#slikaImg .hero .content h1 {
  font-size: 55px;
}
#slikaImg .hero .content p {
  font-size: 23px;
  padding: 20px 0 30px;
  max-width: 600px;
}
#slikaImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#slikaImg * {
  z-index: 10;
}
.cases {
  padding: 70px 0;
  max-width: 800px;
  margin: 60px auto;
  height: 1500px;
}
.cases1 {
  padding: 70px 0;
  background-color: rgb(175, 156, 249);
  margin: 60px auto;
  height: 1500px;
  max-width: 800px;
}
